# This file is written in the format described by Python's ConfigParser.
# Lines that must be edited are preceded by 'EDIT'.

[Common]
# EDIT
work=/path/to/work/dir
fs=${work}/final_state_selection
es=${work}/event_selection
fs_output=${fs}/output
config=${base}/config

[Event Selection]
merged_fs=${Common:es}/merged_fs
fs=${Common:es}/fs
cache_dir=${Common:es}/cache
plot_dir=${Common:es}/plots
run_dir=${Common:es}/runs
ntuple_dir=${Common:es}/ntuples

[Final State Selection]
# EDIT
machines=list,of,machines
log_dir=${Common:fs}/logs
job_dir=${Common:fs}/jobs
validation_dir=${Common:fs}/validation
setup_dir=${Common:base}/scripts
steering_dir=${Common:fs}/steering_files
template_dir=${Common:base}/templates
sample_table=${Common:config}/sample_table.ini
num_events_table=${Common:config}/num_events.ini
environment_setup_table=${Common:config}/setup_table.ini


[Logging]
# Possible values: {debug, info, warning, error, critical}
level=info
filter_duplicate_messages=true
