# This file is written in the format described by Python's ConfigParser.
# Lines that must be edited are preceded by 'EDIT'.

[Common]
# EDIT
work=/path/to/work/dir
# EDIT
fs=${work}/final_state_selection
es=${work}/event_selection
fs_output=${fs}/output

[Event Selection]
merged_fs=${Common:work}/merged_fs
fs=${Common:work}/fs
cache_dir=${Common:es}/cache
plot_dir=${Common:es}/plots
run_dir=${Common:es}/runs
ntuple_dir=${Common:es}/ntuples

[Final State Selection]
# EDIT
machines=list,of,machine,addresses
base_fs=${Common:base}/final-state-selection
log_dir=${Common:fs}/logs
job_dir=${Common:fs}/jobs
steering_dir=${Common:fs}/steering_files
template_dir=${base_fs}/templates
sample_table=${base_fs}/sample_table.ini
num_events_table=${base_fs}/num_events.ini
environment_setup_table=${base_fs}/setup_table.ini


[Logging]
# Possible values: {debug, info, warning, error, critical}
level=info
filter_duplicate_messages=true
